<!-- Button trigger modal -->
<button (click)="openModal()" type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
    data-bs-target="#nuevoCliente">
    Nuevo
</button>

<!-- Modal -->
<div class="modal fade" id="nuevoCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card-header bg-primary text-white">
                <h4 class="p-2">{{ titulo }}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card-body">
                        <form [formGroup]="cliente" (ngSubmit)="SubmitForm()">
                            <div class="row">
                                <div class="col-md-6 mb-3 form-floating ">
                                    <input type="text" class="form-control" id="cedula" formControlName="cedula"
                                        placeholder="Ingrese cédula (10 dígitos)" maxlength="10">
                                    <label for="cedula" class="form-label ps-4">
                                        <i class="bi bi-credit-card"></i> Cédula <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="cliente.get('cedula')?.invalid && cliente.get('cedula')?.touched"
                                        class="text-danger">
                                        <div *ngIf="cliente.get('cedula')?.errors?.['required']">
                                            La cédula es requerida.
                                        </div>
                                        <div *ngIf="cliente.get('cedula')?.errors?.['minlength']">
                                            Mínimo 10 dígitos.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3 form-floating">
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre"
                                        placeholder="Ingrese nombre completo">
                                    <label for="nombre" class="form-label ps-4">
                                        <i class="bi bi-person"></i> Nombre Completo <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="cliente.get('nombre')?.invalid && cliente.get('nombre')?.touched"
                                        class="text-danger">
                                        <div *ngIf="cliente.get('nombre')?.errors?.['required']">
                                            El nombre es requerido.
                                        </div>
                                        <div *ngIf="cliente.get('nombre')?.errors?.['minlength']">
                                            Mínimo 3 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Teléfono -->
                                <div class="col-md-6 mb-3 form-floating">
                                    <input type="text" class="form-control" id="telefono" formControlName="telefono"
                                        placeholder="Ingrese teléfono">
                                    <label for="telefono" class="form-label ps-4">
                                        <i class="bi bi-telephone"></i> Teléfono <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="cliente.get('telefono')?.invalid && cliente.get('telefono')?.touched"
                                        class="text-danger">
                                        <div *ngIf="cliente.get('telefono')?.errors?.['required']">
                                            El teléfono es requerido.
                                        </div>
                                        <div *ngIf="cliente.get('telefono')?.errors?.['minlength']">
                                            Mínimo 10 digitos.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 form-floating">
                                    <input type="number" class="form-control" id="edad" formControlName="edad"
                                        placeholder="Ingrese la edad">
                                    <label for="edad" class="form-label ps-4">
                                        <i class="bi bi-calendar"></i> Edad <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="cliente.get('edad')?.invalid && cliente.get('edad')?.touched"
                                        class="text-danger">
                                        <div *ngIf="cliente.get('edad')?.errors?.['required']">
                                            La edad es requerido.
                                        </div>
                                        <div *ngIf="cliente.get('edad')?.errors?.['min']">
                                            Edad mínima 1 año.
                                        </div>
                                        <div *ngIf="cliente.get('edad')?.errors?.['max']">
                                            Edad máxima 160 años.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-info" role="alert">
                                <i class="bi bi-info-circle"></i> Los campos marcados con <span
                                    class="text-danger">*</span> son obligatorios
                            </div>

                            <div class="d-flex justify-content-center gap-2 bg-light">
                                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    <i class="bi bi-x-circle"></i> Cancelar
                                </button>
                                <button type="button" class="btn btn-outline-warning" (click)="reset()">
                                    <i class="bi bi-arrow-counterclockwise"></i> Limpiar
                                </button>
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="bi bi-save"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>