<div class="container">
    <h3 class="text text-center">Asegurados</h3>
    <div class="row mb-3 mt-3">
        <div class="col col-10">
            <input type="text" class="form-control" placeholder="Buscar seguro por: código" [(ngModel)]="datoBuscar"
                (input)="GetBuscar()">
        </div>
    </div>
    <table class="table table-hover resposive">
        <thead>
            <tr>                
                <th scope="col">CÓDIGO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">SUMA ASEGURADA</th>
                <th scope="col">PRIMA</th>
                <th scope="col">ID CLIENTE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seg of seguros">                
                <td>{{seg.codigo}}</td>
                <td>{{seg.nombre}}</td>
                <td>{{seg.suma|currency}}</td>
                <td>{{seg.prima |currency}}</td>
                <td>{{seg.idCliente | number}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-warning pt-1 pb-1 m-1" title="Actualizar">
                            <i class="bi bi-eye"></i>Actualizar</button>
                        <button class="btn btn-outline-info pt-1 pb-1 m-1" title="Ver Detalles">
                            <i class="bi bi-pencil"></i>Detalles
                        </button>
                        <button class="btn btn-outline-danger pt-1 pb-1 m-1" title="Eliminar">
                            <i class="bi bi-trash"></i>Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>