<div class="container">
    <!-- button to open modal -->
    <button class="btn btn-outline-primary" (click)="open(contenido)">
        <i class="bi bi-shield"></i>Asignar Seguro
    </button>

    <!-- Modal content -->
    <ng-template #contenido let-modal>
        <div>
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title">{{titulo}}</h4>
                <button type="button" class="btn btn-close" (click)="modal.dismiss('Cross click')">
                </button>
            </div>
            <div class="modal-body">
                <!-- Datos del Cliente -->
                <div>
                    <h5 class="text-muted">Datos del Cliente</h5>
                    <hr />
                    <div class="row mb-3">                        
                        <div class="col-md-6 mb-3 form-floating">
                            <input type="text" class="form-control bg-secondary text-white" id="nombre"
                                [value]="cliente.nombre" readonly>
                            <label for="nombre" class="form-label ps-4 text-white">
                                <i class="bi bi-person"></i> Nombre Completo
                            </label>
                        </div>
                        <div class="col-md-6 mb-3 form-floating ">
                            <input type="text" class="form-control bg-secondary text-white" id="cedula" readonly
                                [value]="cliente.cedula">
                            <label for="cedula" class="form-label ps-4 text-white">
                                Cédula
                            </label>
                        </div>
                    </div>
                </div>
                <form [formGroup]="seguro" (ngSubmit)="SubmitForm()">
                    <!-- Datos del Seguro -->
                    <div >
                        <h5 class="text-muted">Datos del Seguro</h5>
                        <hr />
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input id="codSeguro" formControlName="codigo" class="form-control"
                                        placeholder="Código" type="text">
                                    <label for="codSeguro">Código del Seguro <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="seguro.get('codigo')?.invalid && seguro.get('codigo')?.touched"
                                        class="text-danger">
                                        <div *ngIf="seguro.get('codigo')?.errors?.['required']">
                                            El código es requerido.
                                        </div>
                                        <div *ngIf="seguro.get('codigo')?.errors?.['minlength']">
                                            Mínimo 3 caracteres.
                                        </div>
                                        <div *ngIf="seguro.get('codigo')?.errors?.['maxlength']">
                                            Máximo 10 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input id="nombreSeguro" formControlName="nombre" class="form-control" type="text">
                                    <label for="nombreSeguro">Nombre del Seguro <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="seguro.get('nombre')?.invalid && seguro.get('nombre')?.touched"
                                        class="text-danger">
                                        <div *ngIf="seguro.get('nombre')?.errors?.['required']">
                                            El nombre es requerido.
                                        </div>
                                        <div *ngIf="seguro.get('nombre')?.errors?.['minlength']">
                                            Mínimo 3 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input id="sumaSeguro" formControlName="suma" class="form-control" type="number">
                                    <label for="sumaSeguro">Suma Asegurada <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="seguro.get('suma')?.invalid && seguro.get('suma')?.touched"
                                        class="text-danger">
                                        <div *ngIf="seguro.get('suma')?.errors?.['required']">
                                            La suma asegurada es requerido.
                                        </div>
                                        <div *ngIf="seguro.get('suma')?.errors?.['min']">
                                            Mínimo 1.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input id="primaSeguro" formControlName="prima" class="form-control" type="number">
                                    <label for="primaSeguro">Prima <span class="text-danger">*</span>
                                    </label>
                                    <div *ngIf="seguro.get('prima')?.invalid && seguro.get('prima')?.touched"
                                        class="text-danger">
                                        <div *ngIf="seguro.get('prima')?.errors?.['required']">
                                            La prima del seguro es requerido.
                                        </div>
                                        <div *ngIf="seguro.get('prima')?.errors?.['min']">
                                            Mínimo 1.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="alert alert-info" role="alert">
                        <i class="bi bi-info-circle"></i> Los campos marcados con <span class="text-danger">*</span> son
                        obligatorios
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end bg-light">
                        <button type="reset" class="btn btn-outline-secondary ps-2"
                            (click)="modal.dismiss('Close click')">
                            <i class="bi bi-x-circle"></i> Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Asignar Seguro
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-template>
</div>